/* Move down content because we have a fixed navbar that is 50px tall */
body {
  padding-top: 50px;
}

footer{
	background-color: #e74c3c;
	padding-top: 150px;
    padding-bottom: 30px;
}

#get_involved{
	background-color: #F5F5F5;
}

.jumbotron h1,ul.nav{
	font-family: 'Arvo', serif;
}

ul.nav{
	font-size: 13px;
}

.jumbotron{
	text-align: center;
	background-image: url('../../images/hero_image.jpg');
	color: white;
}

.jumbotron h1{
	margin-top: 0px;
	margin-bottom: 50px;
}

.jumbotron p{
	margin-bottom: 30px;
	font-weight: 100;
	padding: 0 50px;
}

.btn-lg{
	font-size:36px;
}

.homepage{
	text-align: center;
	padding-bottom: 30px;
    padding-top: 30px;
}

.homepage h2,h3{
	text-transform: uppercase;
	font-family: 'Arvo', courier, serif;
	color: #e74c3c;
}

.homepage h2{
	font-size: 30px;
}

.homepage h3{
	font-size: 26px;
}

.homepage p{
	font-size: 21px;
    font-weight: 300;
}

.homepage a{
	color: #e74c3c;
	text-decoration: none;
}

.homepage a:hover{
  color: #e74c3c;
  opacity: 0.8;
}

.homepage .h1{
	border-top: 1px solid #e74c3d;
    width: 160px;
    margin-top: 15px;
}

/*RESPONSIVE SITE CODE CSS*/
/*
1199px;
991px;
767px;
*/
@media (max-width: 1199px;) { 
	.jumbotron h1{
		font-size: 56px;
		margin-bottom: 30px;
	}
}

@media (max-width: 991px;) { 
	.jumbotron h1{
		font-size: 44px;
	}
	.jumbotron p{
		padding: 0 10px;
	}	
	#get_involved .col-md-4{
		padding-top: 20px;
		padding-bottom: 20px;
	}
}

@media (max-width: 767px;) { 
	.jumbotron h1{
		font-size: 24px;
	}
	.jumbotron p{
		font-size: 16px;
		padding: 0;
	}	
	.btn-lg{
		font-size: 18px;
	}
	.homepage p{
		font-size: 18px;
	}
	footer{
		width: 80%;
	}
}
